$font-color: #464646;
$border-color: #E4E4E4;

@mixin from-address {
  .from-address {
    font-weight: normal;
    color: transparentize($font-color, 0.4);
    padding-left: 0.4em;
  }
}

#mailboxes {
  cursor: default;
  color: transparentize($font-color, 0.4);
  font-weight: bold;
  ul {
    list-style-type: none;
    margin: 0;
    border-right: 1px solid $border-color;
    li {
      padding: 0.2em 0.2em;
      a {
        font-weight: normal;
        cursor: pointer;
        color: $font-color;
      }
      .dropdown-icon {
        margin-left: 0.4em;
      }
      &.child {
        padding-left: 1em;
      }
      &.selected a {
        font-weight: bolder;
        color: black;
      }
    }
  }
}

#messages {
  color: $font-color;
  table {
    table-layout: fixed;
    tr.new {
      font-weight: bold;
    }
    th {
      cursor: default;
      border-bottom: 1px solid black;
      border-top: 0;
      background-color: transparent;
    }
    td {
      cursor: pointer;
      @include from-address;
      .hide-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .no-subject {
        color: transparentize($font-color, 0.2);
      }
    }
    .from {
      width: 25%;
      min-width: 10em;
      max-width: 30em;
    }
    .subject {
      width: auto;
    }
    .date {
      width: 10em;
    }
  }

  #body {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  #header {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $border-color;
    .field {
      @include from-address;
      .title {
        margin-right: 0.4em;
        font-weight: bold;
      }
    }
  }
}