// General layout CSS file

// Style header pannel
header {
  h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    line-height: 2em;
  }
  margin-bottom: 2em;
}

// Style sub-header using to explain headers
.sub-header {
  font-size: 1.2em;
  color: #999999;
  margin-bottom: 1.2em;
  .form-actions {
    text-align: right;
  }
}