// General layout CSS file

// Style header pannel
header {
  h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    line-height: 2em;
  }
  margin-bottom: 2em;
}

// Style the footer
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.4em 2em;
  background-color: white;
  color: #565656;
  border-top: 1px solid #E4E4E4;
  font-size: 0.8em;
  #disconnect-button {
    margin-right: 4em;
    float: right;
  }
}

// Style sub-header using to explain headers
.sub-header {
  font-size: 1.2em;
  color: #999999;
  margin-bottom: 1.2em;
  .form-actions {
    text-align: right;
  }
}