// Style the login form
#login-form {
  margin-top: 2em;

  input[type=text], input[type=password] {
    display: block;
    width: 100%;
    width: 210px; /* value for bootstrap large */
  }
  
  label {
    display: none;
  }

  .submit {
    padding-top: 1em;
  }
}
